<?xml version="1.0" ?>
<robot name="mesh_object">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="trophy_cup_3.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="trophy_cup_3.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.002014 -0.000004 0.079882" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
</robot>
