<robot name="mesh_object">
            <link name="base">
                <visual>
                    <geometry>
                        <mesh filename="fish_(food)_0_v000.obj" scale="1 1 1" />
                    </geometry>
                </visual>
                <collision>
                    <geometry>
                        <mesh filename="fish_(food)_0_v000.obj" scale="1 1 1" />
                    </geometry>
                </collision>
                <inertial>
                    <origin xyz="0.000000 0.000000 0.018815" rpy="0 0 0" />
                    <mass value="0.500000" />
                    <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0" />
                </inertial>
            </link>
            </robot>