<?xml version='1.0' encoding='utf-8'?>
<robot name="right_hand">
  <material name="cmd_grey">
    <color rgba="0.7 0.7 0.7 1"/>
  </material>
  
  <link name="right_hand">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/right_hand_base_link.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0.0 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/right_hand_base_link.obj" />
      </geometry>
    </collision>
  </link>

  <link name="link_F0J0">
    <visual>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.02002062 -0.00420254 -0.00076433" />
      <mass value="0.00425608" />
      <inertia ixx="0.004438" iyy="0.001193" izz="0.004507" ixy="5e-06" iyz="5.5e-05" ixz="6e-06" />
    </inertial>
  </link>

  <link name="link_F0J1">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.1415" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01993346 -0.03798722 -0.00120381" />
      <mass value="0.00953523" />
      <inertia ixx="0.021601" iyy="0.003369" izz="0.021338" ixy="9e-06" iyz="7.1e-05" ixz="-2.3e-05" />
    </inertial>
  </link>

  <link name="link_F0J2">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.14" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.01995147 -0.01300000 -0.00108104" rpy="0.0 -0.087266 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01983286 -0.07567233 -0.00226248" />
      <mass value="0.00695584" />
      <inertia ixx="0.008399" iyy="0.00258" izz="0.009041" ixy="-4e-06" iyz="-7e-05" ixz="5.6e-05" />
    </inertial>
  </link>

  <link name="link_F1J0">
    <visual>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.02002062 -0.00420254 -0.00076433" />
      <mass value="0.00425608" />
      <inertia ixx="0.004438" iyy="0.001193" izz="0.004507" ixy="5e-06" iyz="5.5e-05" ixz="6e-06" />
    </inertial>
  </link>

  <link name="link_F1J1">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.1415" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01993346 -0.03798722 -0.00120381" />
      <mass value="0.00953523" />
      <inertia ixx="0.021601" iyy="0.003369" izz="0.021338" ixy="9e-06" iyz="7.1e-05" ixz="-2.3e-05" />
    </inertial>
  </link>

  <link name="link_F1J2">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.14" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.01995147 -0.01300000 -0.00108104" rpy="0.0 -0.087266 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01983286 -0.07567233 -0.00226248" />
      <mass value="0.00695584" />
      <inertia ixx="0.008399" iyy="0.00258" izz="0.009041" ixy="-4e-06" iyz="-7e-05" ixz="5.6e-05" />
    </inertial>
  </link>

  <link name="link_F2J0">
    <visual>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.02002062 -0.00420254 -0.00076433" />
      <mass value="0.00425608" />
      <inertia ixx="0.004438" iyy="0.001193" izz="0.004507" ixy="5e-06" iyz="5.5e-05" ixz="6e-06" />
    </inertial>
  </link>

  <link name="link_F2J1">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.1415" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01993346 -0.03798722 -0.00120381" />
      <mass value="0.00953523" />
      <inertia ixx="0.021601" iyy="0.003369" izz="0.021338" ixy="9e-06" iyz="7.1e-05" ixz="-2.3e-05" />
    </inertial>
  </link>

  <link name="link_F2J2">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.14" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.01995147 -0.01300000 -0.00108104" rpy="0.0 -0.087266 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01983286 -0.07567233 -0.00226248" />
      <mass value="0.00695584" />
      <inertia ixx="0.008399" iyy="0.00258" izz="0.009041" ixy="-4e-06" iyz="-7e-05" ixz="5.6e-05" />
    </inertial>
  </link>

  <link name="link_F3J0">
    <visual>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="3.141593 0.0 0.0" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J0~XY_roller.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.02002062 -0.00420254 -0.00076433" />
      <mass value="0.00425608" />
      <inertia ixx="0.004438" iyy="0.001193" izz="0.004507" ixy="5e-06" iyz="5.5e-05" ixz="6e-06" />
    </inertial>
  </link>

  <link name="link_F3J1">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.1415" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J1~phalanx.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01993346 -0.03798722 -0.00120381" />
      <mass value="0.00953523" />
      <inertia ixx="0.021601" iyy="0.003369" izz="0.021338" ixy="9e-06" iyz="7.1e-05" ixz="-2.3e-05" />
    </inertial>
  </link>

  <link name="link_F3J2">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0 0 3.14" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
      <material name="cmd_grey" />
    </visual>
    <collision>
      <origin xyz="0.01995147 -0.01300000 -0.00108104" rpy="0.0 -0.087266 3.141593" />
      <geometry>
        <mesh filename="package://franka_cmd/meshes/cmd_right_hand/J2~fingertip.obj" />
      </geometry>
    </collision>
    <inertial>
      <origin xyz="0.01983286 -0.07567233 -0.00226248" />
      <mass value="0.00695584" />
      <inertia ixx="0.008399" iyy="0.00258" izz="0.009041" ixy="-4e-06" iyz="-7e-05" ixz="5.6e-05" />
    </inertial>
  </link>


  <joint name="F0J0" type="revolute">
    <origin xyz="0.04600000 0.05740000 -0.00860000" rpy="3 -0.68 4" />
    <parent link="right_hand" />
    <child link="link_F0J0" />
    <axis xyz="-0.087156 0.0 -0.996195" />
    <limit upper="0.174533" lower="-0.174533" effort="100" velocity="100" />
  </joint>
  <joint name="F0J1" type="revolute">
    <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="0.0 3.141593 0.0" />
    <parent link="link_F0J0" />
    <child link="link_F0J1" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.745329" effort="100" velocity="100" />
  </joint>
  <joint name="F0J2" type="revolute">
    <origin xyz="0.00000000 -0.04500000 0.00000000" rpy="0.0 0.0 0.0" />
    <parent link="link_F0J1" />
    <child link="link_F0J2" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.570796" effort="100" velocity="100" />
  </joint>

  <joint name="F1J0" type="revolute">
    <origin xyz="0.02000000 0.00400000 -0.00120000" rpy="3.141593 -0.087266 3.141593" />
    <parent link="right_hand" />
    <child link="link_F1J0" />
    <axis xyz="-0.087156 0.0 -0.996195" />
    <limit upper="0.174533" lower="-0.174533" effort="100" velocity="100" />
  </joint>
  <joint name="F1J1" type="revolute">
    <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="0.0 3.141593 0.0" />
    <parent link="link_F1J0" />
    <child link="link_F1J1" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.745329" effort="100" velocity="100" />
  </joint>
  <joint name="F1J2" type="revolute">
    <origin xyz="0.00000000 -0.04500000 0.00000000" rpy="0.0 0.0 0.0" />
    <parent link="link_F1J1" />
    <child link="link_F1J2" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.570796" effort="100" velocity="100" />
  </joint>

  <joint name="F2J0" type="revolute">
    <origin xyz="0.00000000 0.00000000 0.00000000" rpy="3.141593 -0.087266 3.141593" />
    <parent link="right_hand" />
    <child link="link_F2J0" />
    <axis xyz="-0.087156 0.0 -0.996195" />
    <limit upper="0.174533" lower="-0.174533" effort="100" velocity="100" />
  </joint>
  <joint name="F2J1" type="revolute">
    <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="0.0 3.141593 0.0" />
    <parent link="link_F2J0" />
    <child link="link_F2J1" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.745329" effort="100" velocity="100" />
  </joint>
  <joint name="F2J2" type="revolute">
    <origin xyz="0.00000000 -0.04500000 0.00000000" rpy="0.0 0.0 0.0" />
    <parent link="link_F2J1" />
    <child link="link_F2J2" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.570796" effort="100" velocity="100" />
  </joint>

  <joint name="F3J0" type="revolute">
    <origin xyz="-0.02000000 0.00400000 -0.00120000" rpy="3.141593 0.087266 3.141593" />
    <parent link="right_hand" />
    <child link="link_F3J0" />
    <axis xyz="-0.087156 0.0 -0.996195" />
    <limit upper="0.174533" lower="-0.174533" effort="100" velocity="100" />
  </joint>
  <joint name="F3J1" type="revolute">
    <origin xyz="0.00000000 -0.01700000 0.00000000" rpy="0.0 3.141593 0.0" />
    <parent link="link_F3J0" />
    <child link="link_F3J1" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.745329" effort="100" velocity="100" />
  </joint>
  <joint name="F3J2" type="revolute">
    <origin xyz="0.00000000 -0.04500000 0.00000000" rpy="0.0 0.0 0.0" />
    <parent link="link_F3J1" />
    <child link="link_F3J2" />
    <axis xyz="-0.996195 0.0 0.087156" />
    <limit upper="0.0" lower="-1.570796" effort="100" velocity="100" />
  </joint>
</robot>