<?xml version="1.0" ?>
<robot name="franka_cmd_left">



  <!-- Franka Links -->
  <link name="panda_link0">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.05"/>
      <mass value="2.9"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link0.obj"/>
      </geometry>
      <material name="panda_white">
        <color rgba="1. 1. 1. 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link0.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <link name="panda_link1">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.04 -0.05"/>
      <mass value="2.7"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link1.obj"/>
      </geometry>
      <material name="panda_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link1.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <joint name="panda_joint1" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="0 0 0" xyz="0 0 0.333"/>
    <parent link="panda_link0"/>
    <child link="panda_link1"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  </joint>
  <link name="panda_link2">
    <inertial>
      <origin rpy="0 0 0" xyz="0 -0.04 0.06"/>
      <mass value="2.73"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link2.obj"/>
      </geometry>
      <material name="panda_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link2.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <joint name="panda_joint2" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-1.7628" soft_upper_limit="1.7628"/>
    <origin rpy="-1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="panda_link1"/>
    <child link="panda_link2"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-1.8326" upper="1.8326" velocity="2.1750"/>
  </joint>
  <link name="panda_link3">
    <inertial>
      <origin rpy="0 0 0" xyz="0.01 0.01 -0.05"/>
      <mass value="2.04"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link3.obj"/>
      </geometry>
      <material name="panda_red">
        <color rgba="1. 1. 1. 1."/>
      </material>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link3.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="panda_joint3" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.57079632679 0 0" xyz="0 -0.316 0"/>
    <parent link="panda_link2"/>
    <child link="panda_link3"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-2.9671" upper="2.9671" velocity="2.1750"/>
  </joint>
  <link name="panda_link4">
    <inertial>
      <origin rpy="0 0 0" xyz="-0.03 0.03 0.02"/>
      <mass value="2.08"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link4.obj"/>
      </geometry>
      <material name="panda_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link4.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <joint name="panda_joint4" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-3.0718" soft_upper_limit="-0.0698"/>
    <origin rpy="1.57079632679 0 0" xyz="0.0825 0 0"/>
    <parent link="panda_link3"/>
    <child link="panda_link4"/>
    <axis xyz="0 0 1"/>
    <limit effort="87" lower="-3.1416" upper="0.0" velocity="2.1750"/>
  </joint>
  <link name="panda_link5">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0.04 -0.12"/>
      <mass value="3"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link5.obj"/>
      </geometry>
      <material name="panda_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link5.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <joint name="panda_joint5" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="-1.57079632679 0 0" xyz="-0.0825 0.384 0"/>
    <parent link="panda_link4"/>
    <child link="panda_link5"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" lower="-2.9671" upper="2.9671" velocity="2.6100"/>
  </joint>
  <link name="panda_link6">
    <inertial>
      <origin rpy="0 0 0" xyz="0.04 0 0"/>
      <mass value="1.3"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link6.obj"/>
      </geometry>
      <material name="panda_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link6.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <joint name="panda_joint6" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-0.0175" soft_upper_limit="3.7525"/>
    <origin rpy="1.57079632679 0 0" xyz="0 0 0"/>
    <parent link="panda_link5"/>
    <child link="panda_link6"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" lower="-0.0873" upper="3.8223" velocity="2.6100"/>
  </joint>
  <link name="panda_link7">
    <inertial>
      <origin rpy="0 0 0" xyz="0 0 0.08"/>
      <mass value=".2"/>
      <inertia ixx="0.1" ixy="0" ixz="0" iyy="0.1" iyz="0" izz="0.1"/>
    </inertial>
    <visual>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/visual/link7.obj"/>
      </geometry>
      <material name="panda_white"/>
    </visual>
    <collision>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/franka/collision/link7.obj"/>
      </geometry>
      <material name="panda_white"/>
    </collision>
  </link>
  <joint name="panda_joint7" type="revolute">
    <safety_controller k_position="100.0" k_velocity="40.0" soft_lower_limit="-2.8973" soft_upper_limit="2.8973"/>
    <origin rpy="1.57079632679 0 0" xyz="0.088 0 0"/>
    <parent link="panda_link6"/>
    <child link="panda_link7"/>
    <axis xyz="0 0 1"/>
    <limit effort="12" lower="-2.9671" upper="2.9671" velocity="2.6100"/>
  </joint>



  <!-- CMD Left Hand -->
  <!--Generated by cmd-Robotics URDF Exporter from Fusion 360 on 2025-09-24 11:59:26-->
  <link name="palm_5_fingers">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/palm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/collision/palm.obj"/>
      </geometry>
    </collision>
  </link>

  <!-- 0.215 -->
  <joint name="panda_hand_joint" type="fixed">
    <parent link="panda_link7" />
    <child link="palm_5_fingers" />
    <origin rpy="0 3.14159 1.5708" xyz="0.15 0 0.155" />
  </joint>

  <!-- purely for visual purposes -->
  <link name="cmd_hand_mount">
    <visual>
      <origin xyz="0.00000000 0.00000000 0.00000000" rpy="0.0 0.0 0.0" />
      <geometry>
        <cylinder radius="0.05" length="0.1"/>
      </geometry>
      <material name="cmd_grey" />
    </visual>
  </link>
  <joint name="cmd_hand_mount_joint" type="fixed">
    <parent link="panda_link7" />
    <child link="cmd_hand_mount" />
    <origin rpy="0 0 0" xyz="0 0 0.155" />
  </joint>

  <!-- finger links -->
  <link name="F0J0">
    <visual>
      <origin xyz="0.01732051 0.0 -0.008" rpy="1.570796 1.047198 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/F0J0.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.01732051 0.0 -0.008" rpy="1.570796 1.047198 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/F0J0.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F0J1">
    <visual>
      <origin xyz="0.0 0.0 0.0034" rpy="-0.827974 -1.570796 -2.027803"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0034" rpy="-0.827974 -1.570796 -2.027803"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~40mm.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F0J2">
    <visual>
      <origin xyz="0.0 0.0 0.0032" rpy="0.0 1.570796 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0032" rpy="1.602036 1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
    </collision>
  </link>
 <link name="F1J0">
    <visual>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F1J1">
    <visual>
      <origin xyz="0.0 0.0 -0.0034" rpy="3.141593 -1.570796  0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0034" rpy="-1.541393 -1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~40mm.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F1J2">
    <visual>
      <origin xyz="0.0 0.0 0.0032" rpy="0.0 1.570796 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0032" rpy="1.602036 1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
    </collision>
  </link>
   <link name="F2J0">
    <visual>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F2J1">
    <visual>
      <origin xyz="0.0 0.0 -0.0034" rpy="3.141593 -1.570796  0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~45mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0034" rpy="-1.541393 -1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~45mm.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F2J2">
    <visual>
      <origin xyz="0.0 0.0 0.0032" rpy="0.0 1.570796 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0032" rpy="1.602036 1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
    </collision>
  </link>
   <link name="F3J0">
    <visual>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F3J1">
    <visual>
      <origin xyz="0.0 0.0 -0.0034" rpy="3.141593 -1.570796  0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0034" rpy="-1.541393 -1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~40mm.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F3J2">
    <visual>
      <origin xyz="0.0 0.0 0.0032" rpy="0.0 1.570796 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0032" rpy="1.602036 1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F4J0">
    <visual>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 -0.017 0.00375" rpy="3.141593 0.0 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/XY_roller.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F4J1">
    <visual>
      <origin xyz="0.0 0.0 -0.0034" rpy="3.141593 -1.570796  0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~35mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 -0.0034" rpy="-1.541393 -1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/phalange~35mm.obj"/>
      </geometry>
    </collision>
  </link>
  <link name="F4J2">
    <visual>
      <origin xyz="0.0 0.0 0.0032" rpy="0.0 1.570796 0.0"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
      <material name="custom"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.032" rpy="1.602036 1.570796 3.141593"/>
      <geometry>
        <mesh filename="package://franka_cmd/meshes/fingertip~40mm.obj"/>
      </geometry>
    </collision>
  </link>
  <joint name="F0J0" type="revolute">
    <origin xyz="-0.03054812 0.04585616 0.00100716" rpy="-1.508012 0.061003 2.371551"/>
    <parent link="palm_5_fingers"/>
    <child link="F0J0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.523599" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F0J1" type="revolute">
    <origin xyz="0.01544551 0.0 -0.0047524" rpy="-2.617994 0.0 -1.570796"/>
    <parent link="F0J0"/>
    <child link="F0J1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit lower="0.0" upper="1.919862" effort="100" velocity="100"/>
  </joint>
  <joint name="F0J2" type="revolute">
    <origin xyz="0.012 -0.040 0.0066" rpy="3.141593 0.0 0.0"/>
    <parent link="F0J1"/>
    <child link="F0J2"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F1J0" type="revolute">
    <origin xyz="-0.02010047 0.005 0.00357506" rpy="3.141593 0.02618 3.141593"/>
    <parent link="palm_5_fingers"/>
    <child link="F1J0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="0.523599" effort="100" velocity="100"/>
  </joint>
 <joint name="F1J1" type="revolute">
    <origin xyz="0.00375 -0.017 0.00375" rpy="3.141593 1.570796 3.141593"/>
    <parent link="F1J0"/>
    <child link="F1J1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F1J2" type="revolute">
    <origin xyz="0.0 -0.04 -0.0002" rpy="3.141593 0.0 0.0"/>
    <parent link="F1J1"/>
    <child link="F1J2"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F2J0" type="fixed">
    <origin xyz="0.0 0.0 0.004" rpy="3.141593 0.0 3.141593"/>
    <parent link="palm_5_fingers"/>
    <child link="F2J0"/>
    <axis xyz="0.0 0.0 1.0"/>
  </joint>
 <joint name="F2J1" type="revolute">
    <origin xyz="0.00375 -0.017 0.00375" rpy="3.141593 1.570796 3.141593"/>
    <parent link="F2J0"/>
    <child link="F2J1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F2J2" type="revolute">
    <origin xyz="0.0 -0.045 -0.0002" rpy="3.141593 0.0 0.0"/>
    <parent link="F2J1"/>
    <child link="F2J2"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F3J0" type="revolute">
    <origin xyz="0.02010047 0.005 0.00357506" rpy="3.141593 -0.02618 3.141593"/>
    <parent link="palm_5_fingers"/>
    <child link="F3J0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.261799" upper="0.0" effort="100" velocity="100"/>
  </joint>
  <joint name="F3J1" type="revolute">
    <origin xyz="0.00375 -0.017 0.00375" rpy="3.141593 1.570796 3.141593"/>
    <parent link="F3J0"/>
    <child link="F3J1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F3J2" type="revolute">
    <origin xyz="0.0 -0.04 -0.0002" rpy="3.141593 0.0 0.0"/>
    <parent link="F3J1"/>
    <child link="F3J2"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F4J0" type="revolute">
    <origin xyz="0.04087812 0.00852428 0.0019633" rpy="3.141593 -0.05236 3.141593"/>
    <parent link="palm_5_fingers"/>
    <child link="F4J0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-0.523599" upper="0.0" effort="100" velocity="100"/>
  </joint>
  <joint name="F4J1" type="revolute">
    <origin xyz="0.00375 -0.017 0.00375" rpy="3.141593 1.570796 3.141593"/>
    <parent link="F4J0"/>
    <child link="F4J1"/>
    <axis xyz="0.0 0.0 -1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>
  <joint name="F4J2" type="revolute">
    <origin xyz="0.0 -0.035 -0.0002" rpy="3.141593 0.0 0.0"/>
    <parent link="F4J1"/>
    <child link="F4J2"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="0.0" upper="1.570796" effort="100" velocity="100"/>
  </joint>



  <!-- finger tip joints -->
  <link name="thumb_tip"/>
  <joint name="thumb_tip_joint" type="fixed">
    <origin xyz="0 -0.04 0" rpy="0 0 0" />
    <parent link="F0J2" />
    <child link="thumb_tip" />
  </joint>

  <link name="index_tip"/>
  <joint name="index_tip_joint" type="fixed">
    <origin xyz="0 -0.04 0" rpy="0 0 0" />
    <parent link="F1J2" />
    <child link="index_tip" />
  </joint>

  <link name="middle_tip"/>
  <joint name="middle_tip_joint" type="fixed">
    <origin xyz="0 -0.04 0" rpy="0 0 0" />
    <parent link="F2J2" />
    <child link="middle_tip" />
  </joint>

  <link name="ring_tip"/>
  <joint name="ring_tip_joint" type="fixed">
    <origin xyz="0 -0.04 0" rpy="0 0 0" />
    <parent link="F3J2" />
    <child link="ring_tip" />
  </joint>

  <link name="little_tip"/>
  <joint name="little_tip_joint" type="fixed">
    <origin xyz="0 -0.04 0" rpy="0 0 0" />
    <parent link="F4J2" />
    <child link="little_tip" />
  </joint>

</robot>
