<?xml version="1.0" ?>
<robot name="mesh_object">
  <link name="base">
    <visual>
      <geometry>
        <mesh filename="triangle_(musical_instrument)_3.obj" scale="1 1 1"/>
      </geometry>
    </visual>
    <collision>
      <geometry>
        <mesh filename="triangle_(musical_instrument)_3.obj" scale="1 1 1"/>
      </geometry>
    </collision>
    <inertial>
      <origin xyz="-0.005953 0.027631 0.044149" rpy="0 0 0"/>
      <mass value="0.5"/>
      <inertia ixx="0.01" iyy="0.01" izz="0.01" ixy="0" ixz="0" iyz="0"/>
    </inertial>
  </link>
</robot>
